::-webkit-input-placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  padding-left: 8px;
  color: #9baaae;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

.header {
  &-wrapper {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eef5f6;
    width: 100%;

    @media (min-width: 1140px) {
      height: 120px;
      flex-direction: row;
    }

    &__container {
      width: 320px;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 1139px) {
        justify-content: center;
        margin-bottom: 16px;
      }
      @media (min-width: 1140px) {
        justify-content: flex-end;
        width: 350px;
      }
    }

    &__logo {
      margin: 0 auto;
    }
    &__link {
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;
      color: #1a1818;
      margin-right: 2px;
    }

    &__input {
      width: 260px;
      border-radius: 6px;
      height: 36px;
      margin-right: 2px;
      background: #eef5f6;
      border-color: #9baaae;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      padding-left: 8px;
      box-shadow: 0px 4px 4px 0px #00000040;

      @media (min-width: 1140px) {
        width: 309px;
      }
    }
  }

  &-button {
    height: 44px;
    width: 127px;
    border-radius: 4px;
    background: #cddde2;

    &__wrapper {
      display: flex;
      margin-top: 12px;
    }

    &__innerWrap {
      margin-top: 7px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &-log {
        margin-top: -2px;
      }
    }

    &__cart {
      margin-right: 15px;
      position: relative;

      &-sign {
        width: 6px;
        height: 6px;
        position: absolute;
        background: #ec3c24;
        top: 4px;
        right: 8px;
        border-radius: 6px;
      }
    }

    &__log {
      margin-right: 30px;
      padding-bottom: 6px;
    }

    &__text {
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: -0.04em;
      color: #1a1818;
      text-transform: uppercase;
    }
  }

  &-svg {
    height: 44px;
    width: 44px;
    border-radius: 6px;

    &__cart {
      height: 28px;
      width: 34px;
      margin-right: 6px;
    }

    &__log {
      margin-bottom: 0px;
    }
  }

  &-list {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px #c4c4c4;

    &__item {
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      display: flex;
      align-items: center;
    }
    @media (max-width: 1139px) {
      &__item:nth-child(2n) {
        display: none;
      }
    }
  }
}

.main {
  position: relative;
  margin-top: 8px;
  padding-bottom: 200px;

  &-background {
    background-color: #eef5f6;
    height: 280px;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  &-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    margin: 0 0 50px 22%;
    padding-top: 36px;
    text-shadow: 0px 4px 4px #00000040;

    &::before {
      content: '';
      display: inline-block;
      height: 4px;
      width: 40px;
      background: #ec3c24;
      margin-bottom: 10px;
      margin-right: 28px;
    }
  }

  &-list {
    display: flex;
    justify-content: space-around;

    &__item {
      height: 320px;
      width: 202px;
      display: flex;
      flex-direction: column;
      background: #fff;
      box-shadow: 0px 4px 4px 0px #00000040;
      margin: 2px;

      &-wrapper {
        margin: 0 auto;
        width: 172px;
        align-self: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #cddde2;
      }

      &-svgHeart {
        height: 30px;
        width: 30px;
        -webkit-filter: drop-shadow(0px 4px 4px #00000040);
        filter: drop-shadow(0px 4px 4px #00000040);
        align-self: flex-end;
        fill: #fff;
      }

      &-svgStar {
        height: 18px;
        width: 18px;
        border-radius: 0.5px;
        fill: rgb(160, 155, 155);

        &-active {
          fill: #ffd78a;
        }
      }

      &-svgStar:first-child {
        margin-left: 30px;
      }
    }

    &__title {
      margin-top: 28px;
      align-self: center;
      color: #1a1818;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 19px;
    }

    &__text {
      margin-top: 14px;
      align-self: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      color: #1a1818;
    }

    &__span {
      margin-left: 14px;
      color: #1a1818;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}
.active {
  fill: #ff725f;
  -webkit-filter: drop-shadow(0px 4px 4px #ff725f);
  filter: drop-shadow(0px 4px 4px #fa177a);
}
